.idea/
*.pyc
*~
*.so
*.cpp
TAGS
GTAGS
GRTAGS
GPATH

build/
__pycache__/

vmd/
.vscode/

VmdSizingSelf.bat
VmdSizingSelfAll.bat
replace_model_all.txt
command.txt
memo.txt

born/*
!あにまさ式ミク.csv
!あにまさ式ミク準標準.csv

vertex/*
src/past

data
build
dist
command.txt
*.zip
*.log
src/model_all_test.py
VmdSizingSelfAll2.bat
rivision.txt
setting.json
history.json
leg_fk.vmd
leg_fk_bone.csv
leg_fk_camera.csv
leg_fk_morph.csv
src/VmdSizingForm3.py.bak
